body, input, textarea, select {
  background-color:black;
  color:white;
}
.e {
  margin-left:0.5em;
  margin-right:0.5em;
  margin-top:0.25em;
  margin-bottom:0.25em;
}
.c {
  text-align:center;
}
.checker {
  margin-right:0.5em;
}
.column {
  float:left;
  width:50%;
}
.row {
  content: "";
  display:table;
  clear:both;
  width:100%;
}
button {
  border:1px solid white;
  border-radius: 8px;
  padding-left:7px;
  padding-right:7px;
  padding-top:2px;
  padding-bottom:2px;
  text-decoration: none;
  color:lightgreen;
  background-color: transparent;
  cursor:pointer;
  user-select: none;
}
button:hover {
  color:darkgoldenrod;
}
button:active {
  color:teal;
}
button:disabled {
  background-color:darkslategray;
  color:forestgreen;
  cursor:default;
}
.buttonCopy {
  border:1px solid white;
  border-radius: 8px;
  padding-left:6px;
  padding-right:6px;
  padding-top:1px;
  padding-bottom:1px;
  color:lightgreen;
  cursor:pointer;
  user-select: none;
}
.buttonCopy:hover {
  color:darkgoldenrod;
}
a {
  border:1px solid white;
  border-radius: 8px;
  padding-left:6px;
  padding-right:6px;
  padding-top:1px;
  padding-bottom:1px;
  text-decoration: none;
  background-color: transparent;
  user-select: none;
}
a:link,a:visited {
  color: lightgreen;
}
a.nav:link,a.nav:visited {
  color: violet;
}
a:hover,a.nav:hover {
  color:darkgoldenrod;
}
a:active,a.nav:active {
  color:teal;
}
td, th {
  padding:4px;
  border:solid 1px white;
}
tr:nth-child(odd) {
  background-color:#222222;
}
tr:nth-child(even) {
  background-color:#090909;
}
th {
  background-color:darkslategray;
}
table {
  border-collapse:collapse;
  margin:0 auto;
}
thead {
  border:solid 3px white;
}
tbody {
  border:solid 3px darkgoldenrod;
}
tfoot {
  border:solid 3px darkmagenta;
}
.tagYes {
  border-style:hidden;
  border-radius: 8px;
  display:inline-block;
  padding-left:6px;
  padding-right:6px;
  font-style:italic;
  margin:2px;
  background-color:green;
}
.tagNo {
  border-style:hidden;
  border-radius: 8px;
  display:inline-block;
  padding-left:6px;
  padding-right:6px;
  font-style:italic;
  margin:2px;
  background-color:darkred;
}
.tag {
  border-style:hidden;
  border-radius: 8px;
  display:inline-block;
  padding-left:6px;
  padding-right:6px;
  font-style:italic;
  margin:2px;
  user-select: none;
}
.popupSection {
  border:2px solid hotpink;
  border-radius: 2em;
}
.tagBox {
  border:2px solid dodgerblue;
  display:inline-block;
  padding-left:6px;
  padding-right:6px;
  margin:2px;
  margin-left:0.5em;
  background-color:midnightblue;
  font-style:normal;
}
.divGrouping {
  display:inline-block;
  margin-left:1vw;
  margin-right:1vw;
  margin-top:5px;
  margin-bottom:5px;
}
.triangle {
  width:0;
  height:0;
  margin-right:-0.5em;
  border-width:0.5em;
  border-style:solid;
  border-color:transparent transparent transparent gold;
}
.bar {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:1em;
  border:1px solid white;
  background-color:darkgray;
}